body {
    background-color: #30361B;
    color: white;
    margin: 0%;
    font-family: 'Risque';
    /* font-size: 1.5em; */
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 2em;
}

section.main>section:before {
    border-top: #AAAAAA 1px solid;
    position: absolute;
    left: 25%;
    width: 50%;
    content: "";
    height: 1px;
    text-align: center;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

section p {
    padding: 1%;
}

section.main section {
    text-align: center;
    margin: 2%;
}

header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.517), rgba(150, 150, 150, 0)),
        url("../pages/media/img/food/pide_grill_mix.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin: 0%;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
    max-width: 100%;

}

section.presentation {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

section.presentation p {
    padding: 0%;
    margin: 0%;
    /* font-size: 150%; */
}

#logo {
    background-image:
        url("../pages/media/img/palmanovah_logo.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 50%;
    width: 70%;
    height: 0px;
    font-size: 0em;
    padding-bottom: 70%;
    color: transparent;
    margin-left: 10%;
    -webkit-text-stroke: 0px black;

}

footer {
    font-size: small;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0%;
    color: #AAAAAA;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 100%;
}

footer a {
    color: #AAAAAA;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 0%;
    padding-left: 0%;
}

/* ====== CONTENEUR ====== */
#language_button {
    position: relative;
    padding: 0;
    margin: 0;
}

/* ====== BOUTON PRINCIPAL ====== */
#language_button>li.current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/* flèche */
#language_button>li.current::after {
    content: "▾";
    padding-bottom: 2px;
    font-size: 15px;
    margin-left: 4px;
    color: white;
}

#language_button:hover>li {
    display: block;

}

#language_button>li {
    display: none;
    transition: 2s;
    margin-bottom: 5px;
}

#language_button>li a {
    color: transparent;
    font-size: 0%;
    text-decoration: none;
}

#language_button>li.current {
    text-decoration: underline;
    display: block;

}

#language_button>li.current::after {
    content: "▼";
    font-size: 10px;
    position: relative;
    right: 20px;
    top: 6px;
    color: white;
    border: none;
    margin: 0%;
    padding: 0%;
}

#french {
    background-image:
        url("../pages/media/img/flags/france.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 27px;
    /* border-radius: 50%; */
    color: transparent;
    font-size: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);


}

#english {
    background-image:
        url("../pages/media/img/flags/uk.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border-radius: 50%; */
    color: transparent;
    font-size: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 22px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);


}

#turkish {
    background-image:
        url("../pages/media/img/flags/turkey.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border-radius: 50%; */
    color: transparent;
    font-size: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 22px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
}