
body {
    background-color: #30361B;
    color: white;
    margin: 0%;
    font-family: 'Risque';
    font-size: 1.5em;
}

a {
    color: white;
    text-decoration: none;
}

/* h1 {
    font-family: ;
} */

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

section p {
    padding: 1%;
}

section.main section {
    text-align: center;
    margin: 2%;
}

header {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.517),rgba(255, 255, 255, 0)),
    url("../pages/media/img/pide.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin: 0%;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;

}

section.presentation {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

section.presentation p{
    padding: 0%;
    margin: 0%;
    /* font-size: 150%; */
}

#logo {
    background-image: 
    url("../pages/media/img/palmanovah_logo.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 50%;
    width: 70%;
    height: 0px;
    padding-bottom: 70%;
    color: transparent;
    margin-left: 10%;
     -webkit-text-stroke: 0px black;
    
}


footer {
    font-size: small;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0%;
    color: #AAAAAA;
    padding: 1%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
}