
body {
    background-color: #30361B;
    color: white;
    margin: 0%;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-image: url("../media/img/pide.jpg");
    margin: 0%;
    padding: 1%;
    text-align: center;
}



footer {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0%;
    color: #AAAAAA;
    padding: 1%;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}