.diapo {
    position: relative;
    /* width: 800px; */
    /* height: 400px; */
    padding: 15%;
    max-height: max-content;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
}

.elements {
    position: relative;
    width: 100%;
    height: 100%;
}

.element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
}


.element img {
    width: 100%;           /* Remplit horizontalement le conteneur */
    max-height: 100%;      /* Ne dépasse pas la hauteur du conteneur */
    object-fit: cover;     /* Recadre l'image si elle dépasse */
    display: block;
    border-radius: 10px;
}


/* Image active (au centre) */
.element.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    z-index: 3;
}

/* Image précédente */
.element.prev {
    opacity: 0.4;
    transform: translate(-110%, -50%) scale(0.7);
    z-index: 2;
}

/* Image suivante */
.element.next {
    opacity: 0.4;
    transform: translate(10%, -50%) scale(0.7);
    z-index: 2;
}

/* Caption */
.caption {
    position: absolute;
    bottom: 0.8%;
    /* left: 50px; */
    width: 100%;
    max-width: 1000px;
    padding-bottom: 3px;
    height: 30%;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    font-size: small;
}
.caption p, .caption h2 {
    padding: 1px;
    margin: 1px;
}


/* Flèches */
#nav-gauche,
#nav-droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 4;
    user-select: none;
    background-color: rgba(128, 128, 128, 0.6);
    width: 40px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-gauche {
    left: 10px;
}

#nav-droite {
    right: 10px;
}

#halal_info {
    text-align: center;
    font-size: small;
    margin-top: 10px;
    font-style: italic;
}