section.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ======== Welcome part ============ */

section.welcome article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

section.welcome article>img {
    width: 60%;
    border-radius: 15px;
}

section.welcome article p {
    width: 30%;
}

/* ============ Food presentation part ======= */


section#food_presentation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-top: 2%;
    margin-bottom: 25%;
}

section#food_presentation :nth-child(even) {

    transform: translateX(10%);
}

section#food_presentation :nth-child(odd) {
    transform: translate(-10%, 50%);
}

section#food_presentation>img.food {
    width: 49%;
    border-radius: 15px;
}


/* =========== Find us part ======== */

section.findus article {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

section.findus article section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

img.storefront {
    margin-top: 2%;
    max-width: 50%;
    border-radius: 15px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 600px;
}

section.storefront {
    display: flex;

}

.access {
    width: 40%;
}

#positionmap {
    justify-content: space-evenly;
    align-items: center;
}

#locationinfo {
    width: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

iframe {
    background-color: white;

}

#map {
    width: 95%;
    height: 300px;
    font-size: 0.1em;
}