section.main > section:before {
    border-top: #AAAAAA 1px solid;
    position: absolute;
    left: 25%;
    width: 50%;
    content: "";
    height: 1px;
    text-align: center;
}

section.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img.storefront {
    margin-top: 2%;
    width: 50%;
}

section.welcome article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

section.welcome article p {
    width: 50%;
}

section.findus article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.findus article section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

section.storefront :nth-child(even) {
    transform: translateY(20%);
}

#locationinfo {
    width: 80%;
    padding: 5%;
}

#locationinfo :nth-child(odd) {
    transform: translateX(-10%);

}
#locationinfo :nth-child(even) {
    transform: translateX(10%);
}

iframe {
    background-color: white;
}

#positionmap > * {
    width: 50%;
}
