section.main > section:before {
    border-top: #AAAAAA 1px solid;
    position: absolute;
    left: 25%;
    width: 50%;
    content: "";
    height: 1px;
    text-align: center;
}

section.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.main section {
    text-align: center;
}