section.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img.storefront {
    margin-top: 2%;
    width: 50%;
}

section.welcome article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

section.welcome article > img {
    width: 15em;
}

section.welcome article p {
    width: 50%;
}

section.findus article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.findus article section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

section.storefront :nth-child(even) {
    transform: translateY(20%);
}

#locationinfo {
    width: 80%;
    padding: 5%;
}

#locationinfo :nth-child(odd) {
    transform: translateX(-10%);

}
#locationinfo :nth-child(even) {
    transform: translateX(10%);
}

iframe {
    background-color: white;
}

#positionmap > * {
    width: 50%;
}

section#food_presentation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2%;
    margin-top: 2%;
    margin-bottom: 25%;
}

section#food_presentation :nth-child(even) {
    
    transform: translateX(20%);
}
section#food_presentation :nth-child(odd) {
    transform: translateY(50%);
}

section#food_presentation > img.food {
    width: 45%;
}

img.storefront {
    border-radius: 15px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 600px;
}
